.dot-details {
    position: absolute;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(241, 234, 225);
    margin-left: 40vw;

    h4 {
        margin-bottom: 35px;
        font-size: 14px;
    }

    span {
        position: absolute;
        top: 7px;
        right: 10px;
        cursor: pointer;
    }

    .book-btn {
        background: #0b865d;
        border: 1px solid #556699;
        border-radius: 1000px;
        padding: 10px 25px;
        color: #efeded;
        display: inline-block;
        font: normal bold 15px/1 "Open Sans", sans-serif;
        text-align: center;
        cursor: pointer;

        &:hover {
            background: #0a7b56;
        }
    }
}